/* import fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/firacode/5.2.0/fira_code.css');
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    /* vars */
    --color-white: white;
    --color-sky-500: rgb(14, 165, 233);
    --color-sky-400: rgb(56, 189, 248);
    --color-sky-300: rgb(125, 211, 252);
    --color-slate-900: rgb(15, 23, 42);
    --color-slate-800: rgb(30, 41, 59);
    --color-slate-400: rgb(148, 163, 184);
    --color-slate-300: rgb(203, 213, 225);
    --color-rose-300: rgb(253, 164, 175);
    --color-rose-600: rgb(225, 29, 72);
    --color-blue-100: rgb(219, 234, 254);
    --color-border-1: rgb(53, 63, 79);
    --color-gray-800: rgb(55, 65, 81);
    --color-gray-900: rgb(17, 24, 39);
    --color-yellow-100: rgb(254, 249, 195);
    --color-yellow-300: rgb(253, 224, 71);
    --color-yellow-500: rgb(234, 179, 8);
    --color-red-200: rgb(254, 202, 202);
    --color-red-300: rgb(252, 165, 165);
    --color-red-500: rgb(239, 68, 68);
    --color-gradient-start-1: rgba(42, 129, 131, 1);
    --color-gradient-start-2: rgba(30, 41, 59, 1);
    --color-gradient-end-1: rgba(15, 23, 42, 1);
    --color-allert-text: #3c4043;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

html {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0px;
    text-align: center;
    font-weight: 500;
}

#bg {
    /* https://css-tricks.com/the-fixed-background-attachment-hack/ */
    background: linear-gradient(45deg, rgba(30, 41, 59, 1) 0%, rgba(15, 23, 42, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: fixed;
    z-index: -1;
}

#bg-color-2 {
    background: linear-gradient(45deg, var(--color-gradient-start-1) 0%, var(--color-gradient-end-1) 100%);
}

#nav-bar {
    background-color: var(--color-gradient-end-1);
    border-bottom: var(--color-border-1) solid 1px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.75rem 12px 0.75rem 12px;
    width: auto;
    display: flex;
    margin-bottom: 2rem;
}

#brand a, .nav-element a {
    color: var(--color-white);
}

#body-wrapper {
    margin: 0px 12px 12px 12px;
}

body, button, input {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#brand {
    color: var(--color-white);
    font-weight: 700;
    margin-right: 0.75rem;
}

#brand a, .nav-element a {
    border-bottom: none;
}

#brand a:visited, .nav-element a:visited {
    color: var(--color-white);
}

.nav-element, .nav-element-right {
    color: var(--color-white);
}

.nav-element, .nav-element-right {
    margin-left: 4px;
    margin-right: 4px;
}

.nav-element:hover a {
    color: var(--color-sky-500);
    border-bottom: var(--color-sky-500) solid 2px;
}

.nav-push {
    margin-left: auto;
}

.current {
    border-bottom: var(--color-sky-500) solid 2px;
}

h1, h3 {
    margin: 0px;
    color: var(--color-white);
}

a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-sky-500);
}

a:visited {
    border-color: var(--color-sky-300);
}

button, input[type=file]::file-selector-button {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--color-white);
    background: var(--color-sky-500);
    border: none;
    border-radius: 0.5rem;
    padding: 0.875rem 1.5rem;
    margin: 0.75rem;
}

button:hover, input[type=file]::file-selector-button:hover {
    background-color: var(--color-sky-400);
}

.red-btn {
    background-color: var(--color-red-500);
}

.red-btn:hover {
    background-color: var(--color-rose-600);
}

pre {
    margin: 0;
}

.title {
    font-weight: 900;
    font-size: 3.75rem;
}

.subtitle {
    font-weight: 700;
    font-size: 2.75rem;
}

.card {
    background-color: var(--color-slate-800);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}

.card-title {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
}

.card:hover {
    background-color: var(--color-sky-500);
}

.card:hover .card-title {
    color: var(--color-slate-900);
}

.card:hover .content {
    color: var(--color-white);
}

.card:hover .content-monospace {
    color: var(--color-rose-300);
}

.card-mono {
    background-color: var(--color-slate-800);
    border-width: 1px;
    border-color: var(--color-border-1);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-style: solid;
    border-image-width: 1px;
    padding: 0.75rem;
    overflow-x: auto;
    text-align: left;
}

.card-mono .content-monospace {
    color: var(--color-sky-300);
}

.content-monospace {
    font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: var(--color-sky-500);
}

.content {
    color: var(--color-slate-400);
}

.content-link, .content-link:visited {
    color: var(--color-white);
}

.content-link:hover {
    border-width: 2px;
}

input, textarea, select {
    background-color: var(--color-blue-100);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.375rem;
    border-color: var(--color-slate-300);
    padding: 0.5rem 0.75rem;
    margin: 1.25rem 0.75rem;
}

input:focus, textarea:focus {
    border-color: var(--color-sky-500);
    outline: none; /* remove orange border then focus */
}

.menu {
    color: var(--color-white);
    cursor: pointer;
}

.menu a {
    border: none;
}

.menu:hover {
    color: var(--color-sky-500);
}

.red-alert, .yellow-alert {
    border: solid 2px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}

.red-alert {
    background-color: var(--color-red-500);
    border-color: var(--color-red-300);
    color: var(--color-allert-text);
}

.yellow-alert {
    background-color: var(--color-yellow-500);
    border-color: var(--color-yellow-300);
    color: var(--color-allert-text);
}

.margin-bottom-h1 {
    margin-bottom: 3.5rem;
}

.margin-bottom-content {
    margin-bottom: 1.75rem;
}

.button-flex-array {
    display: flex;
    justify-content: center;
}

.card-flex-array {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-size-320 {
    box-sizing: border-box;
    width: 320px;
}

input.checkbox {
    width: 1.25rem;
    height: 1.25rem;
}

.nav-element-dynamic, .nav-element-right {
    cursor: default;
}

.mark-sky-500 {
    background-color: var(--color-sky-500);
}

.color-sky-500 {
    color: var(--color-sky-500);
}

.color-rose-300 {
    color: var(--color-rose-300);
}

.input-token {
    width: 384px;
    text-align: center;
    font-family: Fira Code VF, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

label, textarea {
    display: inline-block;
    vertical-align: middle;
}

table {
    width: 100%;
}

thead {
    font-weight: 650;
}

tr {
    background-color: var(--color-slate-800);
}

tr:nth-child(even) {
    background-color: var(--color-gray-800);
}

tr:hover {
    background-color: var(--color-gray-900);
    color: white;
}

td {
    border-bottom: 1px solid var(--color-border-1);
}

.margin-table-id {
    margin-left: 0.75rem;
}

/* Above 1400px */
@media only screen and (min-width: 1100px) {

    #body-wrapper {
        margin: auto;
        width: 1000px;
    }
}