body {
    font-size: 18px;
    text-align: center;
    background-color: #f5f5f5;
}

.server_message {
    margin-top: 40px;
    background-color: brown;
    font-size: 24px;
    font-weight: bold;
}

.user_short_info {
    margin-top: 40px;
}

.user_action_container {
    display: flex;
}

.main_content, .user_content_container, .model_action_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.user_action, .model_action, .user_content {
    background-color: #e7e7e7;
    width: 25%;
}

.footer {
    margin-top: 40px;
}