<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:insert="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <h1 class="title margin-bottom-h1">Помощь</h1>

    <div class="margin-bottom-content">
        <div class="content"> Page: <a class="content-link" href="/help/a.html">a.html</a></div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>