<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>

<div id="body-wrapper">
    <h1 class="title margin-bottom-h1">Beamforce</h1>

    <div class="content margin-bottom-content">
        Веб просмотр результатов SCAD
    </div>

    <div class="button-flex-array margin-bottom-content">
        <form action="/example">
            <button type="submit">Пример</button>
        </form>

        <form action="/user">
            <button type="submit">Начать работу</button>
        </form>

        <form action="/reg">
            <button type="submit">Зарегестрироваться</button>
        </form>

        <form action="/help">
            <button type="submit">Помощь</button>
        </form>

        <form action="/about">
            <button type="submit">О проекте</button>
        </form>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>