<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<form action="#" th:action="@{/reg/validation}" th:object="${registrationUser}" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
    <br>
    <br>
    <label for="email">email:</label>
    <input type="text" id="email" th:field="*{email}"/>
<!--    * необязательно-->
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
    <br>
    <br>
    <label for="password">Пароль:</label>
    <input type="text" id="password" th:field="*{password}"/>
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
    <br>
    <br>
    <button id="reg_button" type="submit">Зарегестрироваться</button>
</form>
</body>
</html>