<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:insert="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <h3 class="subtitle margin-bottom-content">Новая сетка</h3>

    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/post}" th:object="${gridInputDTO}"
          method="post" class="content">
        <label for="name">Имя:</label>
        <textarea id="name" th:field="*{name}" rows="2" cols="25"></textarea>
        <br>
        <label for="commentary">Комментарий:</label>
        <textarea id="commentary" th:field="*{commentary}" rows="3" cols="25"></textarea>
        <br>
        <label for="along">Продольное направление:</label>
        <textarea id="along" th:field="*{along}" rows="5" cols="25"></textarea>
        <br>
        <label for="across">Поперечное направление:</label>
        <textarea id="across" th:field="*{across}" rows="5" cols="25"></textarea>
        <br>
        <label for="startOffsetX">start offset X:</label>
        <input type="number" step="any" id="startOffsetX" th:field="*{startOffsetX}"/>
        <br>
        <label for="startOffsetY">start offset Y:</label>
        <input type="number" step="any" id="startOffsetY" th:field="*{startOffsetY}"/>
        <br>
        <label for="offset">offset:</label>
        <input type="number" step="any" id="offset" th:field="*{offset}"/>
        <br>
        <button type="submit">Загрузить</button>
    </form>
</div>
</body>
</html>