<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Сетка из SCAD:
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__/post}" th:object="${gridInputDTO}" method="post">
    <label for="along">Продольное направление:</label>
    <textarea id="along" th:field="*{along}"></textarea>
    <label for="across">Поперечное направление:</label>
    <textarea id="across" th:field="*{across}"></textarea>
    <button type="submit">Загрузить</button>
</form>
</body>
</html>