<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:replace="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <h3 class="subtitle margin-bottom-content">Присоединиться к организации</h3>

    <form action="#" th:action="@{/user/settings/join-org/validation}" th:object="${tokenDTO}" method="post"
          class="content margin-bottom-content">
        <label for="token">Токен:</label>
        <input type="text" id="token" class="input-token" th:field="*{token}">
        <br>
        <button type="submit">Присоединиться</button>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>