<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:replace="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <h3 class="subtitle margin-bottom-content">Изменить пароль</h3>

    <form action="#" th:action="@{/user/settings/update-password/validation}" th:object="${updatePasswordDTO}"
          method="post" class="content margin-bottom-content">
        <label for="oldPassword">Старый пароль:</label>
        <input type="text" id="oldPassword" th:field="*{oldPassword}"/>
        <span class="red-alert" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Error</span>

        <br>

        <label for="newPassword">Новый пароль:</label>
        <input type="text" id="newPassword" th:field="*{newPassword}"/>
        <span class="red-alert" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Error</span>

        <br>

        <button type="submit">Изменить пароль</button>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>