<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:replace="~{fragments/header :: nav-bar}"></div>

<div id="!body-wrapper!">
    <h3 class="subtitle margin-bottom-content">Модели</h3>

    <table class="content margin-bottom-content" cellspacing="0">
        <thead th:height="48px">
        <tr>
            <td><span class="margin-table-id">id</span></td>
            <td>Имя</td>
            <td>Комментарий</td>
            <td>Дата создания</td>
            <td>Доступ</td>
            <td>Просмотров</td>
            <td>Элементов</td>
            <td>Узлов</td>
            <td>Дискуссия</td>
            <td>RAW</td>
            <td>Изменить</td>
            <td>Клонировать</td>
            <td>Удалить</td>
        </tr>
        </thead>
        <th:block th:if="${modelList}" th:each="model : ${modelList}">
            <tr>
                <td><span th:text="${model.id}" class="margin-table-id"></span></td>
                <td th:text="${model.name}"></td>
                <td th:text="${model.commentary}"></td>
                <td th:text="${model.getFormattedLocalDateTime()}"></td>
                <td>
                    <div th:text="${model.getAccessLevelAsString()}"></div>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/access-level(id=${model.id}, level=1)}"
                          method="post">
                        <button type="submit">1</button>
                    </form>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/access-level(id=${model.id}, level=2)}"
                          method="post">
                        <button type="submit">2</button>
                    </form>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/access-level(id=${model.id}, level=3)}"
                          method="post">
                        <button type="submit">3</button>
                    </form>
                </td>
                <td th:text="${model.viewCounter} + ' / ' + ${model.apiCallCounter}"></td>
                <td th:text="${model.elementsNumber}"></td>
                <td th:text="${model.nodesNumber}"></td>
                <td>Дискуссия</td>
                <td>
                    <form th:action="@{~/api/models/short/{id}(id=${model.id})}" method="get" target="_blank">
                        <button type="submit">RAW</button>
                    </form>
                </td>
                <td>Изменить</td>
                <td>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/clone-model(id=${model.id})}"
                          method="post">
                        <button type="submit">Клонировать</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/delete-model(id=${model.id})}"
                          method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>

    <h3 class="subtitle margin-bottom-content">Строительные сетки</h3>

    <table class="content margin-bottom-content" cellspacing="0">
        <thead th:height="48px">
        <tr>
            <td><span class="margin-table-id">id</span></td>
            <td>Имя</td>
            <td>Комментарий</td>
            <td>Дата создания</td>
            <td>RAW</td>
            <td>Изменить</td>
            <td>Клонировать</td>
            <td>Удалить</td>
        </tr>
        </thead>
        <th:block th:if="${gridList}" th:each="grid : ${gridList}">
            <tr>
                <td><span th:text="${grid.id}" class="margin-table-id"></span></td>
                <td th:text="${grid.name}"></td>
                <td th:text="${grid.commentary}"></td>
                <td th:text="${grid.getFormattedLocalDateTime()}"></td>
                <td>
                    <form th:action="@{~/api/grids/{id}(id=${grid.id})}" method="get" target="_blank">
                        <button type="submit">RAW</button>
                    </form>
                </td>
                <td>
                    Изменить
                </td>
                <td>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/clone-grid(id=${grid.id})}" method="post">
                        <button type="submit">Клонировать</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{__${#httpServletRequest.requestURI}__/delete-grid(id=${grid.id})}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </th:block>
    </table>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>