<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div th:insert="~{fragments/header :: logged_header}"></div>

<div>
    <h3>Настройки:</h3>
</div>

<form action="#" th:action="@{/user/settings/update-password/validation}" th:object="${updatePasswordDTO}"
      method="post">
    <label for="oldPassword">Старый пароль:</label>
    <input type="text" id="oldPassword" th:field="*{oldPassword}"/>
    <span class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Error</span>

    <br>
    <br>

    <label for="newPassword">Новый пароль:</label>
    <input type="text" id="newPassword" th:field="*{newPassword}"/>
    <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Error</span>

    <br>
    <br>

    <button id="edit_button" type="submit">Изменить пароль</button>
</form>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>