<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:insert="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <h3 class="subtitle margin-bottom-content">Настройки пользователя:</h3>

    <form action="#" th:action="@{/user/settings/validation}" th:object="${emailDTO}" method="post">
        <div class="content">
            Имя пользователя: <b th:text="${user.name}" class="color-sky-500">user.name</b>
        </div>

        <div class="content">
            <label for="email">email (необязательно):</label>
            <input type="text" id="email" th:field="*{email}"/>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
        </div>

        <button type="submit">Изменить email</button>
    </form>

    <form th:action="@{__${#httpServletRequest.requestURI}__/delete-email}">
        <button type="submit" class="red-btn">Удалить email</button>
    </form>

    <form th:action="@{__${#httpServletRequest.requestURI}__/update-password}" class="margin-bottom-content">
        <button type="submit">Обновить пароль</button>
    </form>

    <div>
        <h3 class="subtitle margin-bottom-content">Настройки организации:</h3>
    </div>

    <div class="margin-bottom-content">
        <div th:if="${user.organization != null}" class="content">
            <div>Имя организации: <b th:text="${user.organization.name}" class="color-sky-500">
                user.organization
            </b>
            </div>
            Токен для приглашения в организацию:
            <input class="input-token" th:value="${user.organization.joinToken}" readonly>
        </div>

        <form th:if="${user.organization != null && user.id.equals(user.organization.adminId)}"
              th:action="@{__${#httpServletRequest.requestURI}__/new-org-token}">
            <button type="submit">Обновить токен</button>
        </form>

        <form th:if="${user.organization == null}" th:action="@{__${#httpServletRequest.requestURI}__/create-org}">
            <button type="submit">Создать организацию</button>
        </form>

        <form th:if="${user.organization == null}" th:action="@{__${#httpServletRequest.requestURI}__/join-org}">
            <button type="submit">Присоединиться к организации</button>
        </form>

        <form th:if="${user.organization != null}" th:action="@{__${#httpServletRequest.requestURI}__/leave-org}">
            <button class="red-btn">Покинуть организацию</button>
            <div>
                <span class="yellow-alert"> Внимание, данное действие необратимо!</span>
            </div>
        </form>
    </div>

    <form th:action="@{__${#httpServletRequest.requestURI}__/delete-user}" class="margin-bottom-content">
        <button class="red-btn">Удалить аккаунт</button>
        <div>
            <span class="red-alert"> Внимание, данное действие необратимо!</span>
        </div>
    </form>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>