<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div th:insert="~{fragments/header :: logged_header}"></div>

<div>
    <h3>Настройки:</h3>
</div>

<form action="#" th:action="@{/user/settings/validation}" th:object="${emailDTO}" method="post">
    <div>Имя: <span th:text="${user.name}">user.name</span></div>
    <br>
    <br>
    <label for="email">email (необязательно):</label>
    <input type="text" id="email" th:field="*{email}"/>
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
    <br>
    <br>
    <div>
        <a th:href="@{__${#httpServletRequest.requestURI}__/delete-email}">Удалить email</a>
    </div>
    <br>
    <br>
    <button id="edit_button" type="submit">Изменить</button>
</form>

<br>
<br>

<div>
    <a th:href="@{__${#httpServletRequest.requestURI}__/delete-user}">Удалить аккаунт</a>
    <span class="warning"> Внимание, данное действие необратимо!</span>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>