<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_tag :: head_tag}">
</head>
<body>
<div id="bg"></div>
<div th:replace="~{fragments/header :: nav-bar}"></div>

<div id="body-wrapper">
    <div th:if="${server_message} != null" th:replace="~{fragments/server_message :: server_message}" class="red-alert">
        server message
    </div>

    <div class="button-flex-array margin-bottom-content">
        <form th:if="${user.organization == null}"
              th:action="@{__${#httpServletRequest.requestURI}__/settings/join-org}">
            <button type="submit">Присоединиться к организации</button>
        </form>

        <form th:action="@{__${#httpServletRequest.requestURI}__/model/new-model}">
            <button type="submit">Новая модель</button>
        </form>

        <form th:action="@{__${#httpServletRequest.requestURI}__/model/new-grid}">
            <button type="submit">Новая строительная сетка</button>
        </form>

        <form th:action="@{__${#httpServletRequest.requestURI}__/model/operations}">
            <button type="submit">Операции с моделью</button>
        </form>
    </div>

    <div class="card-flex-array margin-bottom-content">
        <div th:each="model : ${modelList}" class="card card-size-320">
            <div class="margin-bottom-card-title">
                <a th:text="${model.name}" th:href="@{~/model(id=${model.id})}" class="card-title">Model title</a>
            </div>

            <div th:text="${model.getFormattedLocalDateTime()}" class="content text-align-right">
                date&time
            </div>

            <div th:text="${userService.getUserById(model.authorId).name}"
                 class="content text-align-right margin-bottom-card-title">
                creator
            </div>

            <div th:text="${model.commentary}" class="content text-align-left margin-bottom-card-title">
                comment
            </div>

            <div th:text="'Узлов: ' + ${model.nodesNumber} + ', Элементов: ' + ${model.elementsNumber}"
                 class="content text-align-right">
                nodes&elements
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>